.case-container{
    margin: 2em 2em;
    /* background:red; */
}

.case-title{

    margin-bottom:0.2em;
    font-family: Roboto;
    font-size:26pt;
}

.case-description{

    font-family: Roboto;
    font-size:12pt;
    font-weight:300;
}

.job-description{

    width:90%;
	line-height:180%;    
}

button{

    border:none;
    background: #663096;
    padding:0.5em;
    color:#fff;
    font-family:Roboto;
    font-weight:300;
}