body {
	font-family: 'Open Sans', sans-serif;
}

/* app.js */
.container {
	position:relative;
	top:20px;
}

/* welcome.js */
.Jumbotron {
	color:white;
	text-align: center;
	background: url('https://c2.staticflickr.com/2/1115/3175599592_582f971c59_z.jpg');
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:30em;
}

/* header.js */
.nav-item {
	float:right !important;
	position:relative;
	bottom:20px;
}

.left {
	margin-left: 1rem; 
}

.nav-link {
	color:white !important;
	position: relative;
	top:3px;
}

.navbar {
	background-color:purple;
}

.navbar-brand {
	color:white !important;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:25px;
	letter-spacing:1px;
	position:relative;
	bottom:20px;
}

/* search_bar.js */
.addJob {
	float: right;
}

/* modal.js */
.closeButton {
	float: right;
	cursor:pointer;
}

.input-row {
	width:40em;
	position:relative;
	bottom:15px;
}